selenium
oauth2client
gspread
tkcalendar
webdriver-manager
openpyxl
wheel
setuptools
pandas
xlrd
sentence-transformers
pillow
google-api-python-client
hf_xet
google-auth
beautifulsoup4
PyPDF2
pdfplumber
pytesseract
python-dotenv
numpy
pyOpenSSL
cryptography
importlib-metadata
PyMuPDF
reportlab
google-auth-httplib2
google-auth-oauthlib
google-genai
pdf2image
pyzbar
psycopg2-binary
pypdfium2 
zxing-cpp 